<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <form action="AddProduct" method="POST">
        <label class="label"><b>Product Name</b></label>
        <input type="text" name="name">
        <br>
        <label class="label"><b>Product Price</b></label>
        <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="price">
        <br>
        <label class="label"><b>Product Origin</b></label>
        <input type="text" name="origin">
        <br>
        <label class="label"><b>Product Quantity</b></label>
        <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="quantity">
        <br>
        <label class="label"><b>Product Description</b></label>
        <input type="text" name="description">
        <br>
        <input type="submit" value="Add Product">
    </form>
</body>
</html>